@import "tailwindcss";

:root {
  --foreground-rgb: 240, 234, 214;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 11, 20, 38;
}

@theme {
  --color-foreground: rgb(var(--foreground-rgb));
  --color-background: rgb(var(--background-start-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

@utility text-balance {
  text-wrap: balance;
}
